<div class="ekart-header">
    <div class="ekart-logo">
        <img src="../../assets/ekart.jpg" alt="ekart-img" srcset="">
    </div>
    <div class="ekart-header-nav">
        <app-top-menu></app-top-menu>
        <div class="ekart-bottom-bar">   
            <app-main-memu></app-main-memu>
            <div class="ekart-search-bar">
                <input type="text" class="ekart-serach-box" placeholder="Search">
                <button class="ekart-search-btn" type="submit">
                   <i class="fa fa-search"></i>
                </button>
        </div>
        
    </div>
</div>