img{
    height:200px;
    width:160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.ekart-add-to-wishlist{
 color: deeppink;
}

.ekart-wishlist-sale-container{
    display: flex;
   justify-content: space-between;
}

.ekart-products-container{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ekart-product-item{
    display: block;
    width: 300px;;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;;
}

.ekart-product-item:hover{
    -webkit-box-shadow: 0 0 1px 3px #000 inset;
    -moz-box-shadow: 0 0 1px 3px #000 inset;
    box-shadow: 10px 20px 18px #cccccc;
    transform: scale(1.05);
}

.ekart-product-name{
   color:brgb(83, 6, 155);
    margin-bottom: 10px;    
}

.ekart-add-to-price{
    margin-bottom: 10px;
    color:darkgreen
}

.ekart-product-category{
    margin-bottom: 10px;
    color:rgb(0, 77, 100) ;
    font-size: 12px;;
}

.ekart-product-rating{
     margin-bottom: 10px;
    color:rgb(233, 83, 14);
}

.ekart-on-sale-tag{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: auto;
    color:rgb(252, 29, 0) ;
    font-size: 16px;
    background-color: rgb(235, 231, 10);
}

.one{
    color: red;
}

.two{
    color: rgb(226, 113, 48);
}

.three{
    color: rgb(241, 226, 8);
}

.four{
    color: rgb(134, 182, 4);
}
.five{
    color: rgb(19, 95, 3)
}

.product-status-code{
    display: flex;
    justify-content: center;
    margin: 10px 0px;;
}