.ekart-search-bar{
    display: flex;
    justify-content: flex-end;
    margin:2px;
    padding:2px
}

button{
    border-radius: 5px;
    width: 30px;
}

button:hover{
    color: rgb(50, 192, 14);
}
   
input{
    height: 30px;
    width: 250px;
    padding:4px;
    background-color: beige;
    border-radius: 5px;
}


















