*{
    color:rgb(62, 15, 138);  
}


p{
    padding-top: 2px;;
}

button{
    height:auto;
    width: 80px;;
    border-radius: 5px;
    background-color: azure;
    margin-top: 6px;
}

button:hover{
    background-color: chartreuse;
}

button:disabled{
    background-color: rgb(240, 243, 237);
}

.count-btn{
    width: 40px;
    padding: 8px 3px;
    margin:6px 4px;
    background-color: rgb(200, 250, 171);
}

.display-count{
    padding: 4px;
    margin: 4px 4px;
}

.max-product-alert{
    color:red;
    font-size: x-small;
}

.product-desc{
       margin: 20px auto;
       padding: 0px 20vh;
}