<div class="filter-products">
    <app-filter  [allProducts]="totalProdCount"
                 [inStockProducts]="inStock"
                 [outOfStockProducts]="outOfStock"
                 (selectedRadioBtnChange)="onChangeFilterData($event)"><!--event binding of child class to pass the data to parent-->
    </app-filter>
</div>
<div class="ekart-products-container">
    <!--custom property binding product:in child to iterable prod-->
    <div *ngFor="let prod of products" >
        <!-- <app-product [product]="prod" *ngIf="filterData==='all' ||
        (filterData==='inStock' && prod.is_in_invetory===true ) || 
        (filterData==='outOfStock' && prod.is_in_invetory!==true )">
        </app-product> -->
        <app-product [product]="prod" *ngIf="searchedText==='' || 
        prod.title.toLowerCase().includes(searchedText.toLowerCase())">
        </app-product>
    </div>
</div>
