<div class="ekart-products-container">
    <div class="ekart-product-item" *ngFor="let item of products; let i=index">
        <div class="ekart-wishlist-sale-container">
            <div class="ekart-add-to-wishlist">
                <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <div class="ekart-on-sale-tag">
                <marquee behavior="" direction="">{{item.rating['count']*.15}} % OFF</marquee></div>
        </div>
        <div class="ekart-product-image">
            <img [src]="item.image" alt="" class="ekart-product-img">
        </div>
        <div class="ekart-add-to-price">INR {{item.price}}</div>
        <div class="ekart-product-name">{{item.title}}</div>
        <div class="ekart-product-category">{{item.category}}</div>
        <div class="ekart-product-rating"><i class="fa fa-star" aria-hidden="true"></i>{{item.rating['rate']}}</div>
    </div>
</div>
