.ekart-search-product{
    display: flex;
    justify-content: center;
    padding: 5px 8px;
    margin: 5px;
}

.ekart-searh-input-input{
    width: 450px;
    min-height: 35px;
    border-radius: 3px;
    border-right: none;
}

.btn-search{
    width: 80px;
    min-height: 30px;
    background-color: rgb(1, 12, 12);
    color: aliceblue;
}

.ekart-search-result-for{
    margin:10px;
    padding:10px;

}